# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/
adk-samples-main/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# API Keys and environment variables
.env

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

examples/

data/
logs/
output/
output_plots/
